ul.full-width{
	width: 100%; 
	height: 50px;
	position: relative;
	display: table;
	margin: 0;
    padding: 0;
  
}
ul.full-width li {
	display: table-cell;
    position: relative;
   
}
ul.full-width li a {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	text-align:center;
	background: #FFF;
    line-height: 50px;
    background-color: yellow;
}
ul.full-width li ul { 
	position: absolute;
	width: 100%;
	margin: 0px;
    padding: 0px;
  
}
ul.full-width li ul li {
    display: block;
    
}

.up img{
float: left;
height: 250px;
}

.up p{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
.content{
	clear: both;
    
}
.content h2 {
	font-size: 25px;
	color: blue;
}